{% extends "base.html" %}

{% block content %}

	<div class="content">
		
			<h3>Edit Member</h3>
			<form action="/members/{{member.id}}" method="POST">
				<div>
					<label for="name"">Name</label>
					<input type="text" name="name" id="name" value="{{member.name}}">
				</div>
				<div>
					<label for="dob"">Date</label>
					<input type="date" id="dob" name="dob"
						value="{{member.date_of_birth.strftime('%Y-%m-%d')}}"
						min="1923-01-01"
						max="2028-12-31">
				</div>
				<div>
					<label for="membertype_id"">Membership</label>
					<select id="membertype_id" name="membertype_id">
						{% for type in membertypes %}
						<option value="{{type.id}}" 
							{% if type.id == member.membertype.id %} selected="selected"{% endif %}
						>{{type.name}}</option>
						{% endfor %}
					</select>
				</div>
				<button type="submit">Update</button>
				<button type="submit" formaction="/members/{{member.id}}/delete">Delete</button>
			</form>
	</div>
	

{% endblock %}