{% extends "base.html" %}

{% block content %}
	
	<div class="content">
		
			<h3>New Member</h3>
			<form action="/members" method="POST">
				<div>
					<label for="name"">Name</label>
					<input type="text" name="name" id="name" value="">
				</div>
				<div>
					<label for="dob"">Date</label>
					<input type="date" id="dob" name="dob"
						value=""
						min="1923-01-01"
						max="2028-12-31">
				</div>
				<div>
					<label for="membertype_id"">Membership</label>
					<select id="membertype_id" name="membertype_id">
						{% for type in membertypes %}
							<option value="{{type.id}}">{{type.name}}</option>
						{% endfor %}
					</select>
				</div>
				<button type="submit">Add</button>
			</form>
	</div>
	

{% endblock %}