{% extends "base.html" %}

{% block content %}
	
	<div class="content">
		
		<div class="arrows">
			<a href="/members/{{id|int - 1}}" 
				{% if id|int <= 1 %}
					class="disabled-link"
				{% endif %}
				><div><i class="fa-solid fa-arrow-left fa-2x"></i></div></a>
			<a href="/members/{{id|int + 1}}"
				{% if id|int >= total_members %}
					class="disabled-link"
				{% endif %}
				><div><i class="fa-solid fa-arrow-right fa-2x"></i></div></a>
		</div>
		
		{% if member.membertype.name == "Gold" %}
		{% set badgecol = "#FFE10A" %}
		{% elif member.membertype.name == "Silver" %}
		{% set badgecol = "#C0C0C0" %}
		{% endif %}
		
		<div class="show-details">
			<header>
				<h2>{{member.name}}</h2>
				<a href="/members/{{member.id}}/edit"><i class="fas fa-edit fa-2xl"></i></a>
			</header>
			
			<p>{{member.date_of_birth.strftime('%d/%m/%Y')}}</p>
			<p><span><i class="fa-solid fa-certificate fa-xl" style="color: {{badgecol}};"></i>&nbsp;&nbsp;</span>{{member.membertype.name}} Membership</p>
			
		</div>
	</div>
{% endblock %}