
{% extends "base.html" %}

{% block content %}
	
	
	<div class="content">
		
		<div class="arrows">
			<a href="/classes/{{id|int - 1}}" 
				{% if id|int <= 1 %}
					class="disabled-link"
				{% endif %}
				><div><i class="fa-solid fa-arrow-left fa-2x"></i></div></a>
			<a href="/classes/{{id|int + 1}}"
				{% if id|int >= total_classes %}
					class="disabled-link"
				{% endif %}
				><div><i class="fa-solid fa-arrow-right fa-2x"></i></div></a>
		</div>

	
		<div class="class-details">
			<h2>{{gymclass.name}}</h2>
			<p>{{gymclass.event_time.strftime('%Y-%m-%d (%a)')}}</p>
			<p>{{gymclass.event_time.strftime('%I:%M %p')}}</p>
			<p>Capacity: {{gymclass.capacity}}</p>
			
			
			{% set available = members|length %}
			{% set remaining = gymclass.capacity - members|length %}
			<div class="availability">
				<div class="booked" style="flex: {{available}};">
					{% if available > 0 %}
						{{available}}
					{% endif %}
				</div>
				<div class="remaining" style="flex: {{remaining}};">
					{% if remaining > 0 %}
						{{remaining}}
					{% endif %}
				</div>
			</div>

		
		<div class="booked-members-list">
			<ul>
				{% for m in members %}
					<li>{{m.name}} <a href="durr"><i class="fa-solid fa-trash-can fa-xl"></i></a></li>
				{% endfor %}
			</ul>
		</div>
		
	</div>
	

{% endblock %}
