<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/solid.min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/regular.min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/all.min.css" crossorigin="anonymous">

	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
	
	<title>Big Jim's Gym</title>
</head>
<body>
	
	<header>
		<nav>
				<a href="/">Home</a>
				<a href="/members">Members</a>
				<a href="/classes">Classes</a>
				<a href="/bookings">Bookings</a>
		</nav>
	</header>
	
	<div class="container">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>
