{% extends "base.html" %}

{% block content %}

		<div class="content">
		
			<img id="brand" src="{{url_for('static', filename='sweat.png')}}">
			
			<div id="blurb">
				<p>Welcome to Sweat N Smiles, where we believe that fitness is all about finding the perfect balance between hard work and joy.</p>
				<p>Our award winning fitness classes are carefully designed to make you break a sweat while putting a smile on your face.</p>
				<p>Come meet the team!</p>
			</div>
			<div class="images">
				<img src="{{url_for('static', filename='Untitled1.jpg')}}">
				<img src="{{url_for('static', filename='Untitled2.jpg')}}">
				<img src="{{url_for('static', filename='Untitled3.jpg')}}">
				<img src="{{url_for('static', filename='steve.jpg')}}">
			</div>
		
		
		</div>



{% endblock %}

