{% extends "base.html" %}

{% block content %}

		<div class="content">
		
			<img id="brand" src="{{url_for('static', filename='sweat.png')}}">
			
			<div id="blurb">
				<p>While popular belief suggests that sweating primarily serves to regulate body temperature, modern science tells us sweating is, in fact, your body shedding tears of joy. While the whole temperature regulation thing may be a convenient side-effect, the true purpose of sweating is to give your body an opportunity to express its sheer elation.</p>
				<p>Our gym classes are scientifically engineered to maximise your body's joyous tears.</p>
				<p>Don't take our word for it... just take a look at some of our members.</p>
			</div>
			<div class="images">
				<img src="{{url_for('static', filename='Untitled1.jpg')}}">
				<img src="{{url_for('static', filename='Untitled2.jpg')}}">
				<img src="{{url_for('static', filename='Untitled3.jpg')}}">
			</div>
		
		
		</div>



{% endblock %}


